<form class="" action="#">
  <label for="">Ingresa tus cartas favoritas de Pokémon</label>
  <div class="">
    <label for="">Nombre: </label>
    <input type="text" name="inputCardName" value="" placeholder="Nombre...">
  </div>
  <div class="">
    <label for="">Imagen: </label>
  </div>
  <div class="">
    <label for="">Edición: </label>
    <select class="" name="selectCardEdition">

    </select>
  </div>
  <div class="">
    <label for="">Número: </label>
    <input type="text" name="inputCardNumber" value="" placeholder="Número...">
  </div>
  <div class="">
    <label for="">Tipo: </label>
    <select class="" name="selectCardType" (change)="getCardSubTypes($event.target.value)">
      <option *ngFor="let cardType of cardTypes" [value]="cardType.cardTypeId">{{ cardType.cardTypeName }}</option>
    </select>
  </div>
  <div class="" *ngIf="cardTypeSelected">
    <label for="">Sub Tipo: </label>
    <select class="" name="selectCardSubType">
      <option *ngFor="let cardSubType of cardSubTypes" [value]="cardSubType.cardSubTypeId">{{ cardSubType.cardSubTypeName }}</option>
    </select>
  </div>
  <div class="">
  <button type="button" name="sendCardInfo">Enviar</button>
  </div>
</form>
